.dashboard {
  .sidebar {
    color: #fff;
    *:hover {
      color: #fff;
    }
    &-nav-link {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    padding: 0 !important;
    &-nav-link {
      display: inline-block !important;
      margin: 0 1rem;
      font-size: 0.8rem;
      .icon-text {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
