.hero-main {
  background-image: linear-gradient(
      to top right,
      rgba(103, 255, 217, 0.87),
      rgb(238, 255, 252)
    ),
    url("https://i.ibb.co/C8CkPvB/steve-johnson-5-MTf9-Xy-VVg-M-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
